h1 {
  text-align: center;
}

.comic {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-gap: 5px;
}

.img-1 {grid-column: span 10;}
.img-2 {grid-column: span 13;}
.img-3 {grid-column: span 9;}
.img-4 {grid-column: span 8;}
.img-5 {grid-column: span 6;}
.img-6 {grid-column: span 5;}
.img-7 {grid-column: span 7;}
.img-8 {grid-column: span 3;}
.img-9 {grid-column: span 8;}

.comic > div > img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1366px) {
  .img-1 {grid-column: span 10;}
  .img-2 {grid-column: span 13;}
  .img-3 {grid-column: span 9;}
  .img-4 {grid-column: span 8;}
  .img-5 {grid-column: span 6;}
  .img-6 {grid-column: span 5;}
  .img-7 {grid-column: span 7;}
  .img-8 {grid-column: span 3;}
  .img-9 {grid-column: span 8;}
}
@media screen and (min-width: 640px) and (max-width: 1366px) {
  .img-1 {grid-column: span 23;}
  .img-2 {grid-column: span 23;}
  .img-3 {grid-column: span 23;}
  .img-4 {grid-column: span 12;}
  .img-5 {grid-column: span 11;}
  .img-6 {grid-column: span 8;}
  .img-7 {grid-column: span 15;}
  .img-8 {grid-column: span 8;}
  .img-9 {grid-column: span 15;}

  .img-1, .img-3 {
      position: relative;
      left: 7%;
      width: 86%;
  }
  .img-8 {
      display: grid;
      justify-items: end;
  }
  .img-8 > img {
      width: 60% !important;
  }
}
@media screen and (max-width: 640px) {
  .img-1 {grid-column: span 23;}
  .img-2 {grid-column: span 23;}
  .img-3 {grid-column: span 23;}
  .img-4 {
      width: 80%;
      grid-column: span 23;
  }
  .img-5 {
      width: 80%;
      grid-column: span 23;
  }
  .img-6 {
      width: 80%;
      grid-column: span 23;
  }
  .img-6 > img {
      max-height: 450px !important;
  }
  .img-7 {grid-column: span 15;}
  .img-8 {grid-column: span 8;}
  .img-9 {grid-column: span 23;}

  .comic > div > img {
      max-height: 600px;
  }
}